
@{
    ViewData["Title"] = "Index";
}

@section Styles
{
 <link rel="stylesheet" href="~/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css"
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Fees</th>
                            <th>ClassStartDate</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Fees</th>
                            <th>ClassStartDate</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


@section Scripts
{
    <!-- DataTables -->
    <script src="~/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(function () {
          $("#courses").DataTable({
              "processing": true,
              "serverSide": true,
              "ajax": {
	           "url": "/admin/course/GetCourseData",
              },
          });
        });
    </script>
}