@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/test.css" />
    <link rel="stylesheet" href="~/scss/StyleSheet.css" />
}

@section Scripts
{
    <script>
        alert("Hello")
    </script>
}

<div class="alert alert-danger" role="alert">
  A simple primary alert—check it out!
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="box">
    <p>
        <button>Click Me</button>
    </p>
</div>

<button>Extra Button</button>

